<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body class="d-flex">
    <!-- SIDEBAR -->
    <%- include("partials/sidebar"); %>

    <!-- PAGE -->
    <div class="flex-grow-1">
      <!-- NAVBAR -->
      <%- include("partials/navbar"); %>

      <!-- MAIN PAGE -->
      <div class="d-flex bg-grey flex-grow-1" style="min-height: 100vh;">

        <!-- LEFT MENU -->
        <%- include("partials/left_menu/dashboard"); %>

        <!-- MAIN CONTENT -->
        <main class="p-4 w-100">

            <!-- BREADCRUMB -->
            <nav class="mb-4" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-dark"><b>Dashboard</b></a></li>
                  <li class="breadcrumb-item" aria-current="page">Dashboard</li>
              </ol>
            </nav>

            <!-- <%= title %> -->
            <h5 class="mb-4"><b>Dashboard</b></h5>

            <!-- TABLES -->
            <%- include("partials/order_table"); %>
            <%- include("partials/car_table"); %>
        </main>
      </div>
    </div>
  </body>
</html>
